<!DOCTYPE html>
<html>
<head>

    <title>ALL IN ONE</title>
    <meta charset="utf-8" />
    <link href='content/site.css' rel="stylesheet" type="text/css" />
    <link href='content/bootstrap.css' rel="stylesheet" type="text/css" />
    <script src='javascripts/jquery-2.0.3.js'></script>
    <script src='javascripts/bootstrap.js'></script>
    <script src='javascripts/modernizr-2.6.2.js'></script>
    <script src='javascripts/moment.js'></script>
    <script src='javascripts/ember-template-compiler.js'></script>
    <script src='javascripts/ember.debug.js'></script>
    <script src='javascripts/ember-data.js'></script>
    <script src='build/app.js'></script>
    <script src='build/templates.js'></script>

</head>
<body>

</body>
</html>